//Colors & Fonts
$brand-color:#9acd5e;
$secondary-color:#1e96d9;
$dark-color:#545454;
$light-color:#fff;
$error-color:#f25a3c;
$transparent-color:transparent;

$font-path:'../assets/fonts/';
$font-size-xsmall:12px;
$font-size-small:14px;
$font-size-base:16px;
$font-size-m:18px;
$font-size-l:24px;
$font-size-xl:36px;

$base-font-family:'dinregular';
$base-font-family-md:'dinmedium';
$base-font-family-bold:'dinbold';
$font-weight-default:normal;
$font-weight-bold:bold;

$text-center:center;

$logo-img:'../img/logo.png';


