.navbar-default {
  box-shadow: 0px 2px 5px rgba($dark-color,0.1);
  background-color: rgba($light-color,0.95);
}

.navbar-brand {
  height: auto;
}
.sprite-cart, .sprite-search{  
  width: 30px;
  height: 23px;    
}